*{
    color: red;
}

#something{
    color: #2f5f1c;
}

.demo_class{
    color: blue;
}

h1{
    color: purple;
}

.container .child{
    color: green;
}

.g1{
    color: yellow;
}
.g2{
    color: pink;
}
.g3{
    color: orange;
}

.g1, .g2, .g3{
    background-color: #000000;
}

.demo_class_1{
    text-align: start;
}