.layer-1, .layer-2, .layer-3{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.layer-1{
    background-color: red;
    z-index: 1;
    left: 90px;
}

.layer-2{
    background-color: green;
    left: 30px;

}

.layer-3{
    background-color: blue;
    left: 0px;
    z-index: -1;
}

.card-container{
    display: flex;
    gap: 10px;
    /* overflow: scroll; */
    overflow-x: scroll;
}

.card{
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    padding: 5px;
    flex-shrink: 0;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card > section{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}