*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.loading{
    width: 25px;
    height: 25px;
    border: 4px solid black;
    border-inline-color: transparent;
    border-radius: 25px;
    
    animation: loading 1s linear infinite;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.l1{
    width: 100px;
    height: 100px;
    border: 4px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
}

.l2{
    width: 80px;
    height: 80px;
    border: 4px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
}

.l3{
    width: 60px;
    height: 60px;
    border: 4px solid blue;
    animation-duration: 3s;
}

.l1, .l2, .l3{
    border-radius: 100px;
    border-inline-color: transparent;

    animation-name: loading2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading2{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}