*{
    margin: 0;
}

/* .box{
    width: 100px;
    height: 100px;
    background-color: green;

    animation-name: slideToRight;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3000ms; 
}

@keyframes slideToRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(600px);
        background-color: red;
        border-radius: 100px;
    }
} */

.box{
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;

    /* animation-name: move;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation: move 5s linear infinite; /* shorthand - animation-name, animation-duration, animation-timing-function, animation-iteration-count */
}

/* 0%, 25%, 50%, 75%, 100% */
@keyframes move{
    0%, 100%{
        top: 0;
        left: 0;
        rotate: 0deg;
    }
    25%{
        top: 0;
        left: 600px;
        background-color: red;
    }
    50%{
        top: 600px;
        left: 600px;
        background-color: blueviolet;
    }
    75%{
        top: 600px;
        left: 0;
        background-color: aqua;
    }
    100%{
        rotate: 360deg;
    }
}