/* transform, transition, rotate, translate, scale */

*{
    margin: 0;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
}

.box{
    width: 100px; 
    height: 100px;
    background-color: red;
    /* scale: 2;  */
   
    /* transform: scale(1); */
    /* transform: rotateY(80deg); 

    transform: translate(-50%, -50%);  */

    transition-property: transform; 
    transition-duration: 2s; 
    transition-timing-function: linear; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

}